.popup {
    width: 313px;
    height: 600px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
}

.popup header .mdl-textfield--expandable .mdl-button--icon {
    top: 0px;
}

.popup header .mdl-textfield .mdl-button {
    bottom: 0px;
    position: relative;
}

.popup .mdl-button .material-icons {
    font-size: 18px;
}

.popup table {
    width: 100%;
    height: 100%;
}

.popup .mdl-data-table td {
    text-align: left;
}

.popup .score {
    margin: 10px auto 0px auto;
}

.popup .score-button {
    margin-top: 10px;
}

.popup .score h1 {
    display: inline-block;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 30px;
}

.popup .score pre {
    display: inline-block;
    font-weight: 100;
    font-size: 8px;
}

.popup .mdl-button {
    color: #ffffff;
}

.popup .score-button {
    margin: -15px auto;
    background: #ffffff;
    color: #3f51b5;
    border-radius: 50px;
}

.popup .mdl-list {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.popup .mdl-list__item-avatar.material-icons {
    color: #ffffff;
    margin-top: 3px;
    font-size: 24px;
    padding: 3px;
    width: 30px;
    height: 30px;
}

.popup .mdl-list .title {
    font-size: 13px;
    line-height: 18px;
}

.popup .mdl-list .title.mdl-list__item-sub-title {
    font-size: 10px;
    line-height: 10px;
}

.popup .mdl-list li {
    height: 60px;
    cursor: pointer;
    padding: 0 15px 0 0;
    display: flex;
    align-items: center;
}

.popup .mdl-list li:not(:last-child) {
    border-bottom: 1px solid #d3d7e0;
}

.popup .mdl-list li:hover {
    background-color: #eeeeee;
}

.popup .mdl-list li .icon-content {
    flex-basis: 60px;
    height: 22px;
    text-align: center;
}

.popup .mdl-list li .text-content {
    flex: 1;
}

.popup .mdl-list li .text-content span {
    display: block;
}

.popup .mdl-list li .text-content .title {
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    color: #242b33;
    opacity: 1;
}

.popup .mdl-list li .text-content .sub-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #8a9199;
    opacity: 1;
}

.popup .mdl-list li .custom-toggle .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #007bff;
    background: #007bff;
}

.popup .custom-toggle .custom-control-input:checked ~ .custom-control-label::after {
    left: 1.9rem;
}

.popup .mdl-list li .custom-content {
    flex-basis: 20px;
}

.popup .mdl-list li .custom-content .score-count {
    font-size: 16px;
    font-weight: normal;
    color: rgba(31, 40, 51, 1);
    line-height: 24px;
}

.popup .color1 {
    background-color: #008ff4;
}

.popup .color2 {
    background-color: #1761f0;
}

.popup .color3 {
    background-color: #4b4ad4;
}

.popup .color4 {
    background-color: #5933c6;
}

.popup .mdl-layout__header {
    background-color: #fff;
    box-shadow: none;
    border-bottom: 1px solid rgba(211, 215, 224, 1);
}

.popup .mdl-layout__header-row {
    padding-left: 20px;
}

.popup .mdl-layout-title img {
    width: 80px;
}

.popup .chart-wrapper {
    width: inherit;
    height: inherit;
    overflow: hidden;
    position: relative;
}

.popup .chart-wrapper .cloudopt-title {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 900;
    color: rgba(66, 80, 99, 1);
    line-height: 19px;
    letter-spacing: 3px;
}

.popup .chart-wrapper .chart-bottom-custom-container {
    width: inherit;
    height: 24px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    background: linear-gradient(0deg, #fff, #f3f8fd);
}

.popup .custom-toggle .custom-control-label::after {
    width: 17px;
    height: 16px;
    top: 1px;
    left: 1px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.popup .custom-toggle .custom-control-label::before {
    width: 30px;
    height: 18px;
}

.popup .chart-wrapper .drop-down-container {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.popup .chart-wrapper .drop-down-container select::-ms-expand {
    display: none;
}

.popup .chart-wrapper .drop-down-container embed {
    position: absolute;
    bottom: 7px;
    right: 9px;
    transform: rotateY(-45deg) scale(1.3);
}

.popup .chart-wrapper .drop-down-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    font-size: 12px;
    font-weight: 500;
    color: rgba(34, 40, 49, 1);
    padding: 8px 26px 8px 18px;
    outline: none;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    line-height: 14px;
    border: 1px solid rgba(159, 168, 178, 1);
}

.popup .chart-wrapper .time-range {
    position: absolute;
    bottom: 0;
    width: inherit;
}

.popup .chart-wrapper .time-range ul {
    display: flex;
    color: #000;
    list-style: none;
    margin: initial;
    justify-content: space-between;
    padding: 0;
    line-height: 1;
}

.popup .chart-wrapper .time-range ul li {
    font-size: 20px;
    color: #415063;
    font-weight: bold;
    transform: scale(0.5);
}

.popup #g2mountNode {
    width: inherit;
    height: inherit;
}

.popup #g2mountNode > div {
    transform: translateX(-80px) translateY(20px);
}

.popup .custom-toggle {
    padding-left: 30px;
}

@media screen and (max-width: 700px) {
    .popup .mdl-layout__header {
        height: 300px;
    }
}
